.register_step_2 {
    width: 100%;
  
    background-image: url(https://assets.interntheory.com/creative/Web-Banner.jpg);
    padding: 7%;
    /* position: relative; */
    top: 66px;
  }
  
  .register_step_2 > .step_2_main {
    max-width: 45%;
    box-shadow: 5px 10px 5px 5px #8888885b;
    background: white;
    padding: 2%;
    margin: auto;
    border-radius: 5px;
  }
  
  .register_step_2 > .step_2_main .heading {
    font-size: 25px;
    padding: 1%;
  }
  .register_step_2 > .step_2_main .para {
    color: gray;
    font-size: 14px;
    padding-bottom: 3%;
    padding-left: 1%;
  }
  
  #step_2_form > div {
    padding: 2%;
    width: 100%;
    color: gray;
  
    text-align: right;
  }
  #step_2_form > div label {
    font-weight: 100;
    margin: 1%;
    width: 10%;
    font-size: 18px;
  }
  
  #step_2_form > div input {
    border: none;
    border-bottom: 1px solid rgb(129, 129, 129);
    outline: none;
    font-size: 18px;
    font-weight: 100;
    margin: 1%;
    width: 50%;
  }
  #step_2_form > div input::placeholder {
    color: rgb(129, 129, 129);
    font-weight: lighter;
    font-size: 16px;
    padding-bottom: 4px;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    width: 18%;
    text-align: center;
    margin-left: 16%;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  #hidden {
    display: none;
  }
  