.profile_wrapper {

    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    height: auto;

}

* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.profile_wrapper .profile_leftside {
    width: 30%;
    background-color: #fff;
    height: 400px;
    padding: .5rem;
    border-radius: .8rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.profile_leftside_child img {
    width: 50%;
}

.profile_leftside_child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: auto;
}

.profile_leftside_child_profile {
    background-color: #087CDD;
    width: max-content;
    margin-top: 15px;
    padding: 0.4rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0.4rem;

}

.profile_leftside_child_profile:hover {
    background-color: #4e7fa8;
}

.profile_leftside_name {
    color: #999;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 10px;
}

.profile_leftside_line {
    color: #999;
    width: 100%;
    margin-top: 15px;


}

.profile_leftside_parent {
    width: 80%;
    margin: auto;
}

.profile_leftside_contact {
    text-align: left;
    margin-top: 15px;
}

.profile_leftside_contact_email {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #3C4858;
    text-align: left;
    gap: 8px;
    overflow: hidden;
    overflow-wrap: hidden;
    margin-top: 15px;
}

.profile_leftside_contact_email_color {
    color: black;
    font-size: 16px;

}

.profile_wrapper>.profile_rightside {
    width: 66%;
    border-radius: .8rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1rem;
    margin-bottom: 20px;
    height: auto
}

.profile_rightside_inside {
    /* border: 1px solid rgb(0, 255, 72); */
    gap: 5;

}

.profile_rightside_user {
    display: flex;
    justify-content: space-between;
}

.profile_img {
    display: flex;
    width: 320px;
    height: 110px;
    justify-content: space-between;
    /* border: 1px solid rgb(63, 27, 27); */
}

.profile_name {
    width: 100%;
    margin-left: 15px;
    color: #3C4858;
    font-size: 20px;
}

.profile_img_inside {
    width: 100%;
}

.profile_top_right {
    justify-items: flex-end;
    margin-left: 190px;
    border: 1px solid rgb(216, 30, 30);
}

.profile_resume_btn {
    margin-top: 10px;
    background-color: #087CDD;
    color: #fff;
    padding: .3rem;
    border: #fff;
    border-radius: .2rem;
    font-size: 13px;
}

.profile_resume_btn-1 {
    border: 1px solid red;
    color: #DF1E2E;
    padding: .2rem;
    margin-top: 10px;
    border-radius: .2rem;
    background-color: #fff;
    font-size: 13px;
    width: 100%;
}

.profile_personal {
    margin-top: 10px;
    color: #3C4858;
    font-size: 20px;
    font-weight: 300;
}

.profile_personal_details {
    display: flex;

}

.profile_ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
}

.profile_li {
    display: flex;
    width: 100%;
    margin-top: 10px;
    gap: 100px;
    align-items: center;
    /* border: 1px solid rgb(4, 255, 0); */
}

.profile_li_span_heading {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.57;
    width: 100px;
    /* border: 1px solid rgb(0, 0, 255); */
    letter-spacing: 0.00714em;
}

.profile_li_span_heading_name {
    color: #3C4858;
    font-size: 0.875rem;
    margin-right: 100px;
    /* border: 1px solid red; */
}

.dashboard_dashedline {
    width: 100%;
    margin: 25px 0;
    height: 2px;
    background:
        repeating-linear-gradient(90deg, rgb(192, 187, 187) 0 10px, #0000 0 12px)
        /*10px red then 2px transparent -> repeat }this!*/
}

.dashboard_personal {
    width: 100%;
}

.profile_edcuation_details {
    display: flex;
    justify-content: space-between;
    gap: 3px;
}

.profile_leftSide {
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.dashboard_personal_1 {
    color: #3C4858;
    font-size: 20px;
}

.dashboard_personal_2 {
    color: #3C4858;
    font-size: .875rem;
}

@media all and (min-width:726px) and (max-width:250000px) {
    .profile_leftside_bottom {
        display: none;
    }
}

@media all and (min-width:535px) and (max-width:725px) {

    .profile_wrapper {
        width: 90%;
        display: block;
    }

    .profile_leftside {
        display: none;
    }

    .profile_wrapper>.profile_rightside {
        width: 90%;
        margin: auto;
    }

    .profile_leftside_bottom {
        width: 80%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #fff;
        height: 400px;
        padding: .5rem;
        border-radius: .8rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}

@media all and (min-width:300px) and (max-width:535px) {
    .profile_leftside {
        display: none;
    }

    .profile_wrapper>.profile_rightside {
        width: 90%;
        margin: auto;
    }

    .profile_leftside_bottom {
        width: 80%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #fff;
        height: 400px;
        padding: .5rem;
        border-radius: .8rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}